<div class="traffic-light">
  <div class="light-outer">
    <div class="first-light-decorate"></div>
    <div class="light-inner">
      <div class="light red"> </div>
    </div>
    <div class="light-left-top-shade"></div>
    <div class="light-left-bottom-shade bottom-shade"></div>
    <div class="light-right-top-shade"></div>
    <div class="light-right-bottom-shade bottom-shade"></div>
  </div>
  <div class="light-outer">
    <div class="light-inner">
      <div class="light orange"></div>
    </div>
    <div class="light-left-top-shade"></div>
    <div class="light-left-bottom-shade bottom-shade"></div>
    <div class="light-right-top-shade"></div>
    <div class="light-right-bottom-shade bottom-shade"></div>
  </div>
  <div class="light-outer">
    <div class="light-inner">
      <div class="light green"> </div>
    </div>
    <div class="light-left-top-shade"></div>
    <div class="light-left-bottom-shade bottom-shade"></div>
    <div class="light-right-top-shade"></div>
    <div class="light-right-bottom-shade bottom-shade"></div>
  </div>
</div>
